@model TomPIT.Management.Models.DeploymentConfigurationModel

@{
	var css = Model.Configuration.RuntimeConfiguration
		? "fal fa-check-square"
		: "fal fa-times-square";


}
<div class="package-configuration" data-id="@Model.Package">
	<div class="title">
		Configuration
	</div>
	<div class="row text-center">
		<div class="col-lg-4">
			<label>Resource group</label>
			@if (Model.Designer.ResourceGroups.Count == 1)
			{
				<div>
					@Model.ResourceGroup.Name
				</div>
			}
			else
			{
				var tagId = string.Format("i{0}", Model.Package.GetHashCode());

				<div class="dropdown">
					<a class="btn btn-sm btn-link dropdown-toggle resource-group-dropdown" href="#" role="button" id="@tagId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						@Model.ResourceGroup.Name
					</a>

					<div class="dropdown-menu" aria-labelledby="@tagId">
						@foreach (var i in Model.Designer.ResourceGroups)
						{
							<a class="dropdown-item" href="#" data-kind="resource-group" data-value="@i.Token">@i.Name</a>
						}
					</div>
				</div>
			}
		</div>
		@if (Model.Configuration.RuntimeConfigurationSupported)
		{
			<div class="col-lg-4">
				<label>Runtime configuration</label>
				<div data-kind="runtime-configuration" data-value="@Html.Raw(!Model.Configuration.RuntimeConfiguration)" data-behavior="toggle">
					<i class="@css"></i>
				</div>
			</div>
		}

	</div>
	@if (Model.Configuration.Databases.Count > 0)
	{
		<div class="title">
			Databases
		</div>
		<br />
		@foreach (var i in Model.Configuration.Databases)
		{
			@await Html.PartialAsync("~/Views/Ide/Designers/DeploymentDatabaseConfiguration.cshtml", new TomPIT.Management.Models.DeploymentConfigurationDatabaseModel(Model.Package, Model.Designer, i))
		}
	}
</div>