@model TomPIT.Management.Models.DeploymentConfigurationDatabaseModel

@{
	var cs = Model.ConnectionString;

	if (string.IsNullOrWhiteSpace(cs)) { cs = "(not set)"; }

	var css = Model.Database.Enabled
	? "fal fa-check-square"
	: "fal fa-times-square";

	var cls = Model.Database.Enabled
		? string.Empty
		: "not-enabled";
}

<div data-db="@Model.Database.Name" @Html.TP().Attributes.Class(cls)>
	<div class="form-group" data-kind="database-enabled" data-value="@Html.Raw(!Model.Database.Enabled)" data-behavior="toggle">
		<i class="@css"></i><label class="pl-2">@Model.Database.Name</label>
		<div>
			<i>@Model.Database.DataProvider</i>
			@if (Model.DataProvider == null)
			{
				<span class="text-danger" title="Data provider not installed"><i class="fas fa-exclamation-triangle"></i></span>
			}
			else
			{
				<span class="text-success" title="Data provider installed"><i class="fas fa-check-circle"></i></span>
			}
		</div>
	</div>
	<div class="form-group">
		<label>Connection string</label>
		<div @Html.TP().Attributes.Attribute("data-value", Model.ConnectionString, !string.IsNullOrWhiteSpace(Model.ConnectionString)) data-kind="connection-string" data-activated="false" data-behavior="toggle">
			<div class="collapse show" data-kind="text">@cs</div>
			<div data-kind="editor">
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="btn-group-sm">
			<button type="button" class="btn btn-sm btn-outline-info" data-kind="test-connection">Test connection</button>
			@if (Model.SupportsDeploy)
			{
				<button type="button" class="btn btn-sm btn-outline-info" data-kind="create-database">Create database</button>
			}
		</div>
	</div>
</div>
<hr />