@model TomPIT.Management.Models.DeploymentDependencyModel

@{
    var css = Model.IsDependencyEnabled
        ? "fal fa-check-square"
        : "fal fa-times-square";

    var showCss = Model.IsDependencyEnabled ? "show" : string.Empty;
}

<div data-kind="dependency">
	<div class="dependency-title">
		<div data-kind="dependency-enabled" data-value="@Html.Raw(!Model.IsDependencyEnabled)" data-behavior="toggle" data-dependency="@Model.Package.Token">
			<i class="@css"></i>
			<span class="pl-1">@Model.Dependency.Title</span>
		</div>
	</div>
	<div class="dependency-content collapse @showCss">
		@await Html.PartialAsync("~/Views/Ide/Designers/DeploymentConfiguration.cshtml", new TomPIT.Management.Models.DeploymentConfigurationModel(Model.Package.Token, Model.Designer))
	</div>
</div>