@model TomPIT.Management.Designers.DeploymentDesigner

@{
    var shellVersionInfo = string.Empty;

    var v = new Version(Model.PackageInfo.ShellMajor, Model.PackageInfo.ShellMinor, Model.PackageInfo.ShellBuild, Model.PackageInfo.ShellRevision);

    if (v < Shell.Version)
    {
        shellVersionInfo = "for older version";
    }
    else if (v > Shell.Version)
    {
        shellVersionInfo = "for newer version";
    }
}

<div class="media">
    <div class="package-image mr-2">
        <i class="fal fa-share-alt"></i>
    </div>
    <div class="media-body package-info-header">
        <div class="row">
            <div class="col-lg-10">
                <div>@Model.PackageInfo.Name</div>
                <h5 class="mt-0">
                    @Model.PackageInfo.Title @if (Model.PackageInfo.Scope == TomPIT.Deployment.PackageScope.Private)
                    {
                        <small>
                            <span class="badge badge-info">private</span>
                        </small>
                    }
                </h5>
                <div>
                    @Html.Raw(string.Format("{0}.{1}.{2}.{3}, {4}", Model.PackageInfo.Major, Model.PackageInfo.Minor, Model.PackageInfo.Build, Model.PackageInfo.Revision, Model.PackageInfo.Created.ToLongDateString()))
                </div>

                @if (!string.IsNullOrWhiteSpace(shellVersionInfo))
                {
                    <div>
                        @Html.Raw(string.Format("{0} ({1}->{2})", shellVersionInfo, Shell.Version.ToString(), v.ToString()))
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.PackageInfo.Website))
                {
                    <a href="@Model.PackageInfo.Website" target="_blank">@Model.PackageInfo.Company</a>
                }
                else
                {
                    <div>
                        @Model.PackageInfo.Company
                    </div>
                }
            </div>
            <div class="col-lg-2">
                @*<div class="text-center package-price">
                        @Html.Raw(StringUtils.Currency(Model.PackageInfo.Price, CurrencyType.Euro, 0))
                        <hr />
                        <small>
                            Price
                        </small>
                    </div>*@
            </div>
        </div>
    </div>


</div>
<hr />

@await Html.PartialAsync("~/Views/Ide/Designers/DeploymentConfiguration.cshtml", new TomPIT.Management.Models.DeploymentConfigurationModel(Model.PackageInfo.Token, Model))

@if (Model.PackageInfo.DependencyCount > 0)
{
    <h4 class="pt-1 pb-1">Dependencies</h4>
    var deps = Model.QueryDependencies(Model.PackageInfo.Token);

    foreach (var i in deps)
    {
        @await Html.PartialAsync("~/Views/Ide/Designers/DeploymentDependency.cshtml", new TomPIT.Management.Models.DeploymentDependencyModel(Model, i))
    }
}

<script>
	deploymentDesigner.setMainPackage('@Model.PackageInfo.Token');
</script>