@using TomPIT.Management.Designers;
@using TomPIT.Proxy.Management;

@model TomPIT.Management.Models.DeploymentPackageCardModel

@{
    var text = "Install";
    var error = false;
    var installed = true;
    var button = true;
    var css = "btn-outline-success";

    var state = Model.Designer.ResolveState(Model.Package.Token, Model.Package.Service);

    switch (state)
    {
        case PackageState.Error:
            error = true;
            text = "Reinstall";
            css = "btn-outline-danger";
            break;
        case PackageState.Installed:
            text = "Reinstall";
            css = "btn-outline-info";
            break;
        case PackageState.Installing:
            installed = false;
            button = false;
            text = "Installing package...";
            css = "text-info pt-2";
            break;
        case PackageState.NotInstalled:
            installed = false;
            text = "Install";
            css = "btn-success";
            break;
        case PackageState.Pending:
            installed = false;
            button = false;
            text = "Pending installation";
            css = "text-info pt-2";
            break;
        case PackageState.PendingUpgrade:
            installed = false;
            button = false;
            text = "Pending upgrade";
            css = "text-info pt-2";
            break;
        case PackageState.Upgrading:
            installed = false;
            button = false;
            text = "Upgrading package...";
            css = "text-info pt-2";
            break;
    }

    var my = Model.Package.Author;
}

<div class="package-card" data-id="@Model.Package.Token">
    <div class="package-header">
        <div class="title">

            @Model.Package.Name
            @if (error)
            {
                <span class="text-danger" title="@Model.Designer.ErrorMessage(Model.Package.Token)">
                    <i class="fal fa-exclamation-triangle"></i>
                </span>
            }
            else if (installed)
            {
                <span class="text-success" title="This package is installed.">
                    <i class="fas fa-check-circle"></i>
                </span>
            }

            @if (my)
            {
                <div class="float-right pointer" data-kind="removePackage">
                    <span class="text-danger" title="Remove this package from the marketplace.">
                        <i class="fas fa-times"></i>
                    </span>
                </div>
            }
        </div>
        <small>
            @Model.Package.Company
        </small>
    </div>
    <div class="package-body package-image">
        <i class="fal fa-share-alt"></i>
    </div>
    <div class="package-footer">
        @if (button)
        {
            <button type="button" class="btn btn-sm @css" data-button="install">@text</button>
        }
        else
        {
            <div class="@css">@text</div>
        }
    </div>
</div>
