@using TomPIT.Deployment;

@model TomPIT.Management.Designers.PackageDesigner

@{
    var p = Model.Package;

    var name = p == null ? Model.MicroService.Name : p.MetaData.Name;
    var title = p == null ? Model.MicroService.Name : p.MetaData.Title;
    var description = p == null ? string.Empty : p.MetaData.Description;
    var licenseUrl = p == null ? string.Empty : p.MetaData.LicenseUrl;
    var projectUrl = p == null ? string.Empty : p.MetaData.ProjectUrl;
    var imageUrl = p == null ? string.Empty : p.MetaData.ImageUrl;
    var tags = p == null ? string.Empty : p.MetaData.Tags;
    var tagList = new List<string>();

    if (!string.IsNullOrWhiteSpace(tags))
    {
        var tokens = tags.Split(',');

        foreach (var i in tokens)
        {
            if (string.IsNullOrWhiteSpace(i))
            { continue; }

            tagList.Add(i.Trim());
        }
    }

    var v = Model.Version;
    var versionMajor = v.Major;
    var versionMinor = v.Minor;
    var versionBuild = v.Build;
    var versionRevision = v.Revision;
    var licenses = p == null ? string.Empty : p.MetaData.Licenses;
    var rt = p == null ? false : p.Configuration.RuntimeConfigurationSupported;
    var av = p == null ? true : p.Configuration.AutoVersioning;
}

<div class="document-body">
    <div class="document-container">
        <div class="canvas">
            <div class="paper">
                <div class="document-toolbar">
                    <div class="row">
                        <div class="col">
                            <div class="document-title">@Model.Account.Company</div>
                        </div>
                        <div class="col">
                            <div class="text-right">
                                <div class="btn-group btn-gtoup-sm">
                                    <button type="button" id="buttonCreate" class="btn btn-link btn-sm">Create</button>
                                    <button type="button" id="buttonUpload" class="btn btn-link btn-sm">Publish</button>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="docOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu" aria-labelledby="docOptions">
                                            <a href="#" id="aLogoff" class="dropdown-item">Sign out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="document-content tp-form thin">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Subscription plan</label>
                                <div id="editPlan"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Package</h4>
                            <div class="form-group">
                                <label for="editName">Package name</label>
                                <div id="editName"></div>
                            </div>
                            <div class="form-group">
                                <label for="editTitle">Package title</label>
                                <div id="editTitle"></div>
                            </div>
                            <div class="form-group">
                                <label for="editDescription">Description</label>
                                <div id="editDescription"></div>
                            </div>
                            <div class="form-group">
                                <label for="editTags">Tags</label>
                                <div id="editTags"></div>
                            </div>
                            <div class="float-left">
                                <h4>Version</h4>
                            </div>
                            <div class="float-right"> <div class="pt-3"><span class="small pr-1">auto</span><div id="divAutoVersion"></div></div></div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-3">
                                    <label for="editVersionMajor">Major</label>
                                    <div id="editVersionMajor"></div>
                                </div>
                                <div class="col-3">
                                    <label for="editVersionMinor">Minor</label>
                                    <div id="editVersionMinor"></div>
                                </div>
                                <div class="col-3">
                                    <label for="editVersionBuild">Build</label>
                                    <div id="editVersionBuild"></div>
                                </div>
                                <div class="col-3">
                                    <label for="editVersionRevision">Revision</label>
                                    <div id="editVersionRevision"></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <h4>Configuration</h4>
                            <div class="form-group">
                                <label for="editRuntimeConfiguration">Include runtime configuration</label>
                                <div>
                                    <div id="editRuntimeConfiguration"></div>
                                </div>
                            </div>
                            <h4>Links</h4>
                            <div class="form-group">
                                <label for="editProjectUrl">Project url</label>
                                <div id="editProjectUrl"></div>
                            </div>
                            <div class="form-group">
                                <label for="editImageUrl">Image url</label>
                                <div id="editImageUrl"></div>
                            </div>
                            <div class="form-group">
                                <label for="editLicenseUrl">License Url</label>
                                <div id="editLicenseUrl"></div>
                            </div>
                            <div class="form-group">
                                <label for="editThirdPartyLicenses">Third party licenses</label>
                                <div id="editThirdPartyLicenses"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    	$('#editPlan').dxSelectBox({
		value: '@Model.MicroService.Plan',
            dataSource:@Html.Raw(TomPIT.Serialization.Serializer.Serialize(Model.Plans)),
            displayExpr: 'name',
            valueExpr: 'token',
        value: @Html.TP().JavaScript.Value(Model.MicroService.Plan)
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}],
		validationGroup:'package'
	});


	$('#editName').dxTextBox({
		value: '@name',
		maxLength:128
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}],
		validationGroup:'package'
	});

	$('#editTitle').dxTextBox({
		value: '@title',
		maxLength:128
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}],
		validationGroup: 'package'
	});;

	$('#editDescription').dxTextArea({
		value: '@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(description))',
		maxLength:1024
	});

	$('#divAutoVersion').dxCheckBox({
		value:@Html.TP().JavaScript.Value(av)
	});

	$('#editLicenseUrl').dxTextBox({
		value: '@licenseUrl',
		maxLength:1024
	});

	$('#editVersionMajor').dxNumberBox({
		value:@versionMajor,
			min: 0,
		max: 255
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}],
		validationGroup: 'package'
	});

	$('#editVersionMinor').dxNumberBox({
		value:@versionMinor,
		min: 0,
		max:255
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}],
		validationGroup: 'package'
	});

	$('#editVersionBuild').dxNumberBox({
		value:@versionBuild,
		min: 0,
		max:32767
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}],
		validationGroup: 'package'
	});

	$('#editVersionRevision').dxNumberBox({
		value:@versionRevision,
		min: 0,
		max:32767
	}).dxValidator({
			validationRules: [
				{
					type: 'required'

			}],
		validationGroup: 'package'
		});

	$('#editProjectUrl').dxTextBox({
		value: '@projectUrl',
		maxlength:1024
	});

	$('#editTags').dxTagBox({
        acceptCustomValue: false,
        searchEnabled:true,
		value: @Html.TP().JavaScript.Array(tagList),
		items:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Tags)),
		maxLength:256,
	});

	$('#editImageUrl').dxTextBox({
		stylingMode: 'underlined',
		value: '@imageUrl',
		maxlength:1024
	});

	$('#editThirdPartyLicenses').dxTextArea({
		stylingMode: 'underlined',
		value: '@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(licenses))',
		maxlength:4096
	});

		$('#editRuntimeConfiguration').dxCheckBox({
		value:@Html.TP().JavaScript.Value(rt)
	});

	$('#buttonCreate').click(function () {
		if (!DevExpress.validationEngine.validateGroup('package').isValid)
			return;

		ide.designerAction({
			data: {
				'action': 'create',
                'plan': $('#editPlan').dxSelectBox('instance').option('value'),
                'name': $('#editName').dxTextBox('instance').option('value'),
				'title': $('#editTitle').dxTextBox('instance').option('value'),
				'versionMajor': $('#editVersionMajor').dxNumberBox('instance').option('value'),
				'versionMinor': $('#editVersionMinor').dxNumberBox('instance').option('value'),
				'versionBuild': $('#editVersionBuild').dxNumberBox('instance').option('value'),
				'versionRevision': $('#editVersionRevision').dxNumberBox('instance').option('value'),
				'description': $('#editDescription').dxTextArea('instance').option('value'),
				'tags': $('#editTags').dxTagBox('instance').option('value').toString(),
				'projectUrl': $('#editProjectUrl').dxTextBox('instance').option('value'),
				'licenseUrl': $('#editLicenseUrl').dxTextBox('instance').option('value'),
				'imageUrl': $('#editImageUrl').dxTextBox('instance').option('value'),
				'licenses': $('#editThirdPartyLicenses').dxTextArea('instance').option('value'),
				'runtimeConfigurationSupported': $('#editRuntimeConfiguration').dxCheckBox('instance').option('value'),
				'autoVersion': $('#divAutoVersion').dxCheckBox('instance').option('value')
			}
		});
	});

	$('#buttonUpload').click(function () {
		ide.designerAction({
			data: {
				'action': 'publish'
			}
		});
	})

	$('#aLogoff').click(function () {
		ide.designerAction({
			data: {
				'action': 'logoff'
			},
			onComplete: function (data) {
				$('#devDesigner').html(data);
			}
		})
	});
</script>
