@using TomPIT;
@using TomPIT.Distributed;

@model TomPIT.Management.Distributed.ScheduledJobDescriptor

<script src="~/Assets/Scripts/Designers/scheduler.js"></script>

@{
   var statusCss = "btn-success";
   var statusText = SRM.WorkerEnable;
   var changeStatus = "Enabled";

   switch (Model.Job.Status)
   {
       case WorkerStatus.Enabled:
           statusText = SRM.WorkerDisable;
           statusCss = "btn-danger";
           changeStatus = "Disabled";
           break;
       case WorkerStatus.Queued:
           statusText = SRM.WorkerQueued;
           statusCss = "btn-light";
           break;
   };

   var lastRun = Model.Job.LastRun == DateTime.MinValue
             ? "-"
             : Model.Job.LastRun.ToString("G");

   var elapsed = Model.Job.LastRun == DateTime.MinValue
    ? string.Empty
    : string.Format("{0} {1}", Model.Job.Elapsed.ToString("n0"), SRM.WorkerElapsedMs);

   var nextRun = Model.Job.NextRun == DateTime.MinValue
           ? "-"
           : Model.Job.NextRun.ToString("G");

   var nextRunCount = Model.Job.RunCount == 0
           ? string.Empty
           : Model.Job.RunCount.ToString("n0");

   var faults = Model.Job.FailCount == 0
             ? string.Empty
             : Model.Job.FailCount.ToString("n0");

   var startTime = Model.Job.StartTime == DateTime.MinValue
         ? ""
         : string.Format("{0}:{1}", Model.Job.StartTime.Hour.ToString("00"), Model.Job.StartTime.Minute.ToString("00"));

   var endTime = Model.Job.EndTime == DateTime.MinValue
           ? ""
           : string.Format("{0}:{1}", Model.Job.EndTime.Hour.ToString("00"), Model.Job.EndTime.Minute.ToString("00"));

   var pattern1Css = Model.Job.Interval == WorkerInterval.Once
         ? "show"
         : string.Empty;

   var pattern2Css = Model.Job.Interval == WorkerInterval.Second
           ? "show"
           : string.Empty;

   var pattern3Css = Model.Job.Interval == WorkerInterval.Minute
           ? "show"
           : string.Empty;

   var pattern4Css = Model.Job.Interval == WorkerInterval.Hour
           ? "show"
           : string.Empty;

   var pattern5Css = Model.Job.Interval == WorkerInterval.Day
           ? "show"
           : string.Empty;

   var pattern6Css = Model.Job.Interval == WorkerInterval.Week
           ? "show"
           : string.Empty;

   var pattern7Css = Model.Job.Interval == WorkerInterval.Month
         ? "show"
         : string.Empty;

   var pattern8Css = Model.Job.Interval == WorkerInterval.Year
           ? "show"
           : string.Empty;

   var startDate = Model.Job.StartDate == DateTime.MinValue
         ? string.Empty
         : string.Format("{0}-{1}-{2}", Model.Job.StartDate.Year.ToString("0000"), Model.Job.StartDate.Month.ToString("00"), Model.Job.StartDate.Day.ToString("00"));

   var endDate = Model.Job.EndDate == DateTime.MinValue
           ? string.Empty
           : string.Format("{0}-{1}-{2}", Model.Job.EndDate.Year.ToString("0000"), Model.Job.EndDate.Month.ToString("00"), Model.Job.EndDate.Day.ToString("00"));


   var monday = (Model.Job.Weekdays & WorkerWeekDays.Monday) == WorkerWeekDays.Monday;
   var tuesday = (Model.Job.Weekdays & WorkerWeekDays.Tuesday) == WorkerWeekDays.Tuesday;
   var wednesday = (Model.Job.Weekdays & WorkerWeekDays.Wednesday) == WorkerWeekDays.Wednesday;
   var thursday = (Model.Job.Weekdays & WorkerWeekDays.Thursday) == WorkerWeekDays.Thursday;
   var friday = (Model.Job.Weekdays & WorkerWeekDays.Friday) == WorkerWeekDays.Friday;
   var saturday = (Model.Job.Weekdays & WorkerWeekDays.Saturday) == WorkerWeekDays.Saturday;
   var sunday = (Model.Job.Weekdays & WorkerWeekDays.Sunday) == WorkerWeekDays.Sunday;
}
<div class="doc-canvas">
    <form>
        <div class="paper" id="scheduleDesigner">
            <div class="btn-toolbar justify-content-between">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-secondary">@SRM.WorkerRun</button>
                    <button type="button" class="btn btn-secondary">@SRM.WorkerReset</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn @statusCss" data-toggle="button" id="btnStatus" @Html.TP().Attributes.Disabled(Model.Job.Status == WorkerStatus.Queued)>@statusText</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <h4>@Model.Title</h4>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="text-center">
                        <strong>@SRM.WorkerLastRun</strong>
                        <p>
                            @lastRun
                            <br />
                            @elapsed
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="text-center">
                        <strong>@SRM.WorkerNextRun</strong>
                        <p>
                            <span id="nextRun">
                                @nextRun
                            </span>
                            <br />
                            @nextRunCount
                        </p>
                    </div>

                </div>
                <div class="col-4">
                    <div class="text-center">
                        <strong>@SRM.WorkerFaults</strong>
                        <p>
                            @faults
                        </p>
                    </div>

                </div>
            </div>

            <h4>@SRM.WorkerWorkingHours</h4>
            <hr />
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="editStartTime">@SRM.WorkerStartTime</label>
                        <div id="editStartTime" class="form-editor" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="editEndTime">@SRM.WorkerEndTime</label>
                        <div id="editEndTime" class="form-editor" />
                    </div>
                </div>
            </div>
            <h4>@SRM.WorkerPattern</h4>
            <hr />
            <div class="row">
                <div class="col-3">
                    <div id="editPattern"></div>
                </div>
                <div class="col-9" id="divPatterns">
                    <div id="patternOnce" class="collapse @pattern1Css">

                    </div>
                    <div id="patternSecond" class="collapse @pattern2Css">
                        <div class="form-group">
                            <label for="editSecondCount">@SRM.WorkerSecondCount</label>
                            <div id="editSecondCount"></div>
                        </div>
                    </div>
                    <div id="patternMinute" class="collapse @pattern3Css">
                        <div class="form-group">
                            <label for="editMinuteCount">@SRM.WorkerMinuteCount</label>
                            <div id="editMinuteCount"></div>
                        </div>
                    </div>
                    <div id="patternHour" class="collapse @pattern4Css">
                        <div class="form-group">
                            <label for="editHourCount">@SRM.WorkerHourCount</label>
                            <div id="editHourCount"></div>
                        </div>
                    </div>
                    <div id="patternDay" class="collapse @pattern5Css">
                        <div class="form-check mb-1">
                            <div class="form-inline">
                                <div id="dayPatternEach"></div>
                                <div id="editDayCount" class="mx-2"></div>
                                <label for="editDayCount">@SRM.WorkerDayDays</label>
                            </div>
                        </div>
                        <div class="form-check">
                            <div id="dayPatternWorkday"></div>
                        </div>
                    </div>
                    <div id="patternWeek" class="collapse @pattern6Css">
                        <div class="form-group">
                            <label for="editWeekInterval">@SRM.WorkerWeekCount</label>
                            <div id="editWeekInterval"></div>
                        </div>

                        <div class="form-check">
                            <div id="checkWeekMonday"></div>
                        </div>
                        <div class="form-check">
                            <div id="checkWeekTuesday"></div>                        
                        </div>
                        <div class="form-check">
                            <div id="checkWeekWednesday"></div>
                        </div>
                        <div class="form-check">
                            <div id="checkWeekThursday"></div>
                        </div>
                        <div class="form-check">
                            <div id="checkWeekFriday"></div>
                        </div>
                        <div class="form-check">
                            <div id="checkWeekSaturday"></div>                        
                        </div>
                        <div class="form-check">
                            <div id="checkWeekSunday"></div>
                        </div>
                    </div>
                    <div id="patternMonth" class="collapse @pattern7Css">
                        <div class="form-check mb-1">
                            <div class="form-inline">
                                <div id="monthPatternEach"></div>
                                <div id="editMonthCount" class="mx-2"></div>
                                <label for="editMonthCount">@SRM.WorkerMonthEvery</label>
                                <div id="editMonthCount2" class="mx-2"></div>
                                <label for="editMonthCount2">@SRM.WorkerMonthMonths</label>
                            </div>
                        </div>
                        <div class="form-check">
                            <div class="form-inline">
                                <div id="monthPatternThe"></div>
                                <div id="monthPart" class="mx-2"></div>
                                <div id="monthPart2" class="mr-2"></div>
                                <label class="form-check-label">
                                    @SRM.WorkerMonthEvery
                                </label>
                                <div id="editMonthCount3" class="mx-2"></div>
                                <label class="form-check-label">
                                    @SRM.WorkerMonthMonths
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="patternYear" class="collapse @pattern8Css">
                        <div class="form-group">
                            <label for="editYearInterval">@SRM.WorkerYearCount</label>
                            <div id="editYearInterval"></div>
                        </div>
                        <div class="form-check mb-1">
                            <div class="form-inline">
                                <div id="yearPatternOn"></div>
                                <div id="editYearPart" class="mx-2"></div>
                                <div id="editYearCount2"></div>
                            </div>
                        </div>
                        <div class="form-check">
                            <div class="form-inline">
                                <div id="yearPatternOnThe"></div>
                                <div id="yearPart" class="mx-2"></div>
                                <div id="yearPart2" class="mr-2"></div>
                                <label class="form-check-label">
                                    @SRM.WorkerYearFrom
                                </label>
                                <div id="editYearMonthPart" class="mx-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <h4>@SRM.WorkerExecutionRange</h4>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="editStartDate">@SRM.WorkerStartDate</label>
                        <div id="editStartDate"></div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-check mb-1">
                        <div id="editNoEndDate"></div>
                    </div>
                    <div class="form-check mb-1">
                        <div id="editEndDateOccurence"></div>
                        <div class="form-inline">
                            <label class="form-check-label" for="editNoEndDate">
                                @SRM.WorkerEndAfter
                            </label>
                            <div id="editEndOccurence" class="mx-2"></div>
                            <label>
                                @SRM.WorkerOccurences
                            </label>
                        </div>
                    </div>
                    <div class="form-check">
                        <div id="editEndBy"></div>
                        <div class="form-inline">
                            <label class="form-check-label" for="editEndBy">
                                @SRM.WorkerEndBy
                            </label>
                            <div id="editEndByDate"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>


<script>
	$('#scheduleDesigner').tpScheduleDesigner({
		data: {
			startTime:@Html.TP().JavaScript.Date(Model.Job.StartTime),
			endTime:@Html.TP().JavaScript.Date(Model.Job.EndTime),
            startDate:@Html.TP().JavaScript.Date(Model.Job.StartDate),
            endDate:@Html.TP().JavaScript.Date(Model.Job.EndDate),
            interval: '@Model.Job.Interval',
            intervalValue: @Model.Job.IntervalValue,
            intervalCounter:'@Model.Job.IntervalCounter',
            changeStatus: '@changeStatus',
            dayMode: '@Model.Job.DayMode',
            monthMode: '@Model.Job.MonthMode',
            monthNumber: @Model.Job.MonthNumber,
            monthPart: '@Model.Job.MonthPart',
            yearMode: '@Model.Job.YearMode',
            dayOfMonth:@Model.Job.DayOfMonth,
            endMode: '@Model.Job.EndMode',
            limit:@Model.Job.Limit,
            weekdays: {
                monday: @Html.TP().JavaScript.Bool(monday),
                tuesday: @Html.TP().JavaScript.Bool(tuesday),
                wednesday: @Html.TP().JavaScript.Bool(wednesday),
                thursday: @Html.TP().JavaScript.Bool(thursday),
                friday: @Html.TP().JavaScript.Bool(friday),
                saturday: @Html.TP().JavaScript.Bool(saturday),
                sunday: @Html.TP().JavaScript.Bool(sunday),
            },
			patternItems: [
				{ text: '@SRM.WorkerOnce', value: '@WorkerInterval.Once' },
				{ text: '@SRM.WorkerSecond', value: '@WorkerInterval.Second' },
				{ text: '@SRM.WorkerMinute', value: '@WorkerInterval.Minute' },
				{ text: '@SRM.WorkerHour', value: '@WorkerInterval.Hour' },
				{ text: '@SRM.WorkerDay', value: '@WorkerInterval.Day' },
				{ text: '@SRM.WorkerWeek', value: '@WorkerInterval.Week' },
				{ text: '@SRM.WorkerMonth', value: '@WorkerInterval.Month' },
				{ text: '@SRM.WorkerYear', value: '@WorkerInterval.Year' }
            ],
            intervalCounters: [
                {
                    text: '@SRM.WorkerMonthFirst',
                    value:'First'
                },
                {
                    text: '@SRM.WorkerMonthSecond',
                    value:'Second'
                },
                {
                    text: '@SRM.WorkerMonthThird',
                    value:'Third'
                },
                {
                    text: '@SRM.WorkerMonthFourth',
                    value:'Fourth'
                },
                {
                    text: '@SRM.WorkerMonthLast',
                    value:'Last'
                },
            ],
            monthParts: [
                {
                    text: '@SRM.WorkerDayMonday',
                    value:'Monday',
                },
                {
                    text: '@SRM.WorkerDayTuesday',
                    value:'Tuesday',
                },
                {
                    text: '@SRM.WorkerDayWednesday',
                    value:'Wednesday',
                },
                {
                    text: '@SRM.WorkerDayThursday',
                    value:'Thursday',
                },
                {
                    text: '@SRM.WorkerDayFriday',
                    value:'Friday',
                },
                {
                    text: '@SRM.WorkerDaySaturday',
                    value:'Saturday',
                },
                {
                    text: '@SRM.WorkerDaySunday',
                    value:'Sunday',
                },
                {
                    text: '@SRM.WorkerDayWeekday',
                    value:'Weekday',
                },
                {
                    text: '@SRM.WorkerDayWeekend',
                    value:'WeekendDay',
                },
                {
                    text: '@SRM.WorkerDayDay',
                    value:'Day',
                },
            ],
            monthNumbers: [
                {
                    text: '@SRM.WorkerMonthJanuary',
                    value:1,
                },
                {
                    text: '@SRM.WorkerMonthFebruary',
                    value:2,
                },
                {
                    text: '@SRM.WorkerMonthMarch',
                    value:3,
                },
                {
                    text: '@SRM.WorkerMonthApril',
                    value:4,
                },
                {
                    text: '@SRM.WorkerMonthMay',
                    value:5,
                },
                {
                    text: '@SRM.WorkerMonthJune',
                    value:6,
                },
                {
                    text: '@SRM.WorkerMonthJuly',
                    value:7,
                },
                {
                    text: '@SRM.WorkerMonthAugust',
                    value:8,
                },
                {
                    text: '@SRM.WorkerMonthSeptember',
                    value:9,
                },
                {
                    text: '@SRM.WorkerMonthOctober',
                    value:10,
                },
                {
                    text: '@SRM.WorkerMonthNovember',
                    value:11,
                },
                {
                    text: '@SRM.WorkerMonthDecember',
                    value:12,
                },
            ]
		},
		text: {
			second: '@WorkerInterval.Second.ToString()',
			minute: '@WorkerInterval.Minute.ToString()',
			hour: '@WorkerInterval.Hour.ToString()',
			day: '@WorkerInterval.Day.ToString()',
			week: '@WorkerInterval.Week.ToString()',
			month: '@WorkerInterval.Month.ToString()',
            year: '@WorkerInterval.Year.ToString()',
            dayEvery: '@SRM.WorkerDayEvery',
            workdays: '@SRM.WorkerDayWorkdays',
            weekCount: '@SRM.WorkerWeekCount',
            everyMonday: '@SRM.WorkerDayMonday',
            everyTuesday: '@SRM.WorkerDayTuesday',
            everyWednesday: '@SRM.WorkerDayWednesday',
            everyThursday: '@SRM.WorkerDayThursday',
            everyFriday: '@SRM.WorkerDayFriday',
            everySaturday: '@SRM.WorkerDaySaturday',
            everySunday: '@SRM.WorkerDaySunday',
            monday: '@SRM.WorkerDayMonday',
            tuesday: '@SRM.WorkerDayTuesday',
            wednesday: '@SRM.WorkerDayWednesday',
            thursday: '@SRM.WorkerDayThursday',
            friday: '@SRM.WorkerDayFriday',
            saturday: '@SRM.WorkerDaySaturday',
            sunday: '@SRM.WorkerDaySunday',
            monthDay: '@SRM.WorkerMonthDay',
            monthThe: '@SRM.WorkerMonthThe',
            yearOn: '@SRM.WorkerYearOn',
            yearOnThe: '@SRM.WorkerYearOnThe',
            noEnd: '@SRM.WorkerNoEnd',
            endAfter: '@SRM.WorkerEndAfter',
            endBy:'@SRM.WorkerEndBy'
		}
	});
</script>