@model TomPIT.Development.Models.HomeModel

<div class="m-1">
    <div class="row">
        <div class="col-sm-9">
            <h4>@Types.TextWithNumber("Microservices", Model.Discovery.Services.Count)</h4>
        </div>
        <div class="col-sm-3">
            <div id="search"></div>
        </div>
    </div>
</div>

<hr />

<ul class="list-unstyled">
    @foreach (var i in Model.Discovery.Services.OrderBy(f => f.Name))
    {
        <li data-kind="microService" class="microservice-list-item collapse show" data-url="@i.Url">
            <span data-search="true">@i.Name</span>
            @if (i.CommitStatus != TomPIT.ComponentModel.CommitStatus.Synchronized)
            {
                <span class="badge badge-warning">not synchronized</span>
            }

            <div>
                <small>@Model.ResolveTemplate(i)</small>
            </div>
        </li>
    }
</ul>

<script>
    $('[data-kind="microService"]').click(function (e) {
        var url = $(this).attr('data-url');

        window.location = '@Model.Services.Routing.RootUrl/ide/' + url;
    });

    $('#search').dxTextBox({
        mode: 'search',
        onValueChanged: function (e) {

            $.each($('[data-kind="microService"]'), function (i, v) {
                if (e.value.length === 0)
                    $(v).collapse('show');
                else {
                    var searchElements = $(v).find('[data-search="true"]');
                    var hit = false;

                    $.each(searchElements, function (si, sv) {
                        var result = new RegExp(e.value, 'i').exec($(v).html());

                        if (result) {
                            $(v).collapse('show');
                            hit = true;

                            return false;
                        }
                    });

                    if (!hit)
                        $(v).collapse('hide');
                }
            });
        }
    });

</script>