@using TomPIT;

@model TomPIT.Ide.Properties.IProperty

@{
	var value = Types.Convert<string>(Model.Value);

	var required = Model.Validation.Required.IsRequired ? "required" : string.Empty;
}

<div name="@Model.Name"></div>

<script>
    $('[name="@Model.Name"]').dxTextBox({
        stylingMode: 'underlined',
        width: '100%',
        @if (Model.Validation.MaxLength.MaxLength > 0)
            {
           <text>
        maxLength: @Model.Validation.MaxLength.MaxLength,
                </text>
           }
        value:'@Html.Raw(value)',
        onValueChanged: function (e) {
			  ide.saveProperty({
				  data: {
					  path: propertyPath,
					  property: '@Model.Name',
					  value: e.value,
				  },
				  onError: function (request, status, error) {
					  var data = JSON.parse(request.responseText);

					  $('[name="@Model.Name"]').dxTextBox('instance').option({
						  validationError: {
							  message: data.message
						  },
						  isValid: false
					  });

					  return true;
				  }
			  });

        }
	 }).dxValidator({
		 validationGroup:'property',
        validationRules: [
            @if (Model.Validation.Required.IsRequired)
            {
               <text>
            {'type':'required'}
            </text>
            }
        ]
    });
</script>