@using TomPIT.IoT.UI;
@using TomPIT.IoT;

@model TomPIT.Models.IRuntimeModel

@{
	var view = Model.ViewConfiguration as IoTView;
}

<link rel="stylesheet" type="text/css" href="~/Assets/Styles/iot.min.css" />

<div class="iot-view @view.Css" data-hub="@view.Hub" data-iot="@Model.ViewConfiguration.Component">
	<svg viewBox="0 0 @view.Width @view.Height">

		@foreach (var i in view.Elements)
		{
			await Html.RenderPartialAsync(i.View(), i.CreateModel(Model));
		}
	</svg>

</div>