@using TomPIT;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using TomPIT.IoT.UI;
@using TomPIT.IoT;

@model TomPIT.Models.IRuntimeModel

@{
	var view = Model.ViewConfiguration as IoTView;
	var ms = Model.Connection().ResolveMicroService(Model.MicroService());

	var bindings = new JArray();

	foreach (var i in view.Elements)
	{
		var ib = i.QueryBindings();

		foreach (var j in ib)
		{
			bindings.Add(new JObject
{
	{"stencil", i.Name },
	{"field", j.Field },
	{"view", Model.Component.Name }
});
		}
	}
}

<link rel="stylesheet" type="text/css" href="~/Assets/Styles/iot.min.css" />

<div class="iot-view @view.Css" data-hub="@view.Hub" data-iot="@Model.Component.Name">
	<svg viewBox="0 0 @view.Width @view.Height">

		@foreach (var i in view.Elements)
		{
			await Html.RenderPartialAsync(i.View(), i.CreateModel(Model));
		}
	</svg>

</div>

<script>
		iot.connect({
		'url': '@string.Format("{0}/iot",Model.Services.Routing.GetServer(TomPIT.Environment.InstanceType.IoT, TomPIT.Environment.InstanceVerbs.All))',
		'microService': '@ms.Name',
		'appBaseUrl': '@Model.MapPath("~/sys/plugins/iot/partial")',
		'hub':'@view.Hub',
		'id': 'iot'
	});

	@if (bindings.Count > 0)
	{
		@:iot.registerBindings(@Html.Raw(JsonConvert.SerializeObject(bindings)))
	}
</script>