@model IUIModel

@{
    Layout = "~/Views/Shared/ShellDocument.cshtml";
    ViewBag.Title = SR.ErrTitle;
}

<div class="tp-form mx-auto">
    <div class="header text-center">
        <h3 class="pt-5">@SR.ViewErrorTitle</h3>
    </div>
    <div class="body">
        <div class="text-center">
            <div>
                @ViewData["exSource"]
            </div>
            <code>
                @if (ViewData["exPath"] != null)
                {
                    @if (ViewData["exUrl"] != null)
                    {
                        <a href="@ViewData["exUrl"]" target="_blank">@ViewData["exPath"]</a>
                    }
                    else
                    {
                        @ViewData["exPath"]
                    }
                    <br />
                }

                @if (ViewData["exLine"] != null && Convert.ToInt32(ViewData["exLine"]) > 0)
                {
                    @Html.Raw($"{SR.ErrLine}: {ViewData["exLine"]}")
                    <br />
                }

                @ViewData["exMessage"]
            </code>
        </div>
        <div class="footer text-center">
            <hr />
            <a href="#" onclick="window.location.reload(true);" class="btn btn-link">@SR.ReloadView</a>
        </div>
    </div>
</div>