@model StatusModel

@{
    Layout = "~/Views/Shared/ShellDocument.cshtml";
    ViewBag.Title = Model.Title;
}

    <div class="tp-form mx-auto">
        <div class="header text-center">
            <h3 class="pt-5">@Model.Title</h3>
        </div>
        <div class="body">
            <div class="text-center">
                <div class="mt-5">
                    <div>
                        @Model.Message
                    </div>
                    <code>
                        @Model.Description
                    </code>
                </div>
            </div>
            <div class="footer text-center">
                <hr />
                <ul class="list-inline">
                    @if (Model.TryAgainEnabled)
                    {
                        <li class="list-inline-item mt-1"><a href="#" onclick="window.location.reload(true);" class="btn btn-link">@SR.ReloadView</a></li>
                    }
                    <li class="list-inline-item mt-1"><a href="@Model.Services.Routing.RootUrl" class="btn btn-link">@SR.ViewHome</a></li>
                </ul>
            </div>
        </div>
    </div>
